/* main */
.main__container {
    background-color: #F1F5F6;
}

.main__navbar {
    background-color: #ffffff;
    margin-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 60%;
}

.main__mobileMenu {
    display: none;
}

.main__navbar select {
    display: block;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
}

.main__section--product {
    padding-bottom: 2rem;
}

.main__section--product del {
    font-size: small;
    color: rgb(119, 119, 119);
}

@media (max-width: 700px) {
    .main__images--advertisement img {
        width: 100%;
    }

    .main__navbar {
        display: none;
    }

    /* 
    .main__mobileMenu {
        background-color: #ffffff;
        width: 90%;
        max-width: 90%;
        display: flex;
        align-items: center;
        box-shadow: ;
    } */
}