/* main */
.main__container {
    background-color: #F1F5F6;
}

.main__navbar {
    background-color: #ffffff;
    margin-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 60%;
}

.main__mobileMenu {
    display: none;
}

.main__navbar select {
    display: block;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
}

.main__section--product {
    padding-bottom: 2rem;
}

.main__section--product del {
    font-size: small;
    color: rgb(119, 119, 119);
}

@media (max-width: 700px) {
    .main__images--advertisement img {
        width: 100%;
    }

    .main__navbar {
        display: none;
    }

}

@media only screen and (max-width: 1280px) and (min-width: 640px) {
    .main__images--advertisement>div>img {
        width: 32.8%;
    }

    .main__images--advertisement .main__banner--advertisement {
        width: 100%;
    }

    .main__navbar {
        display: none;
    }

}


/* section 2 */

.box {
    padding: 60px 5px;
    font-family: "blueskytechco-Regular", Helvetica, serif;
}

.box .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.box .products .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.box .element {
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box .element-offer {
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box .in-stock-products {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.box .in-stock-products-1 {
    font-weight: 500;
    color: #008a00;
}

.box .in-stock-products-2 {
    font-weight: 500;
    color: #515d66;
}

.box .in-stock-products-quantity {
    font-weight: 600;
    color: #212529;
}

.box .text {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 10px;
}

.instock {
    margin-left: 10px;
}

.box .price-sale {
    display: flex;
    gap: 4px;
    margin-top: 1rem;
    align-items: end;
}

.box .price-sale-after {
    font-size: 18px;
    font-weight: 600;
    color: #dc323c;
}

.box .price-sale-origin {
    color: #8d979e;
    font-size: 14px;
    text-decoration: line-through;
}

.box .price-sale-no-sale {
    font-size: 18px;
    font-weight: 600;
    color: #2B38D1;
}

.box .rate {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.box .rate-stars {}

.box .rate-quantity {
    font-weight: 500;
    color: #8d979e;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.box .name {
    font-weight: 600;
    color: #212529;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: 5px;
}

.box .label-sale {
    position: absolute;
    display: flex;
    width: 55px;
    height: 25px;
    align-items: center;
    justify-content: center;
    padding: 4px 21px;
    background-color: #dc323c;
    border-radius: 2px;
    top: 20px;
    left: 20px;
}

.box .product {
    width: 100%;
    position: relative;
}

.box .label-sale-percent {
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
}

.box .element-2 {
    width: 231px;
    height: 373px;
    top: 0;
    left: 236px;
    background-color: #ffffff;
    border-radius: 5px;
}

.box .in-stock-almost-over {
    font-weight: 500;
    color: #ef262c;
    font-size: 12px;
    line-height: 20px;
}

.box .text-wrapper-10 {

    height: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    color: #ef262c;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.box .element-3 {

    width: 189px;
    top: -1px;
    left: 0;
    font-weight: 600;
    color: #2a37d1;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.box .img {
    background-image: url(https://c.animaapp.com/yxS3rC5S/img/bg-7@2x.png);

    width: 191px;
    height: 191px;
    top: 20px;
    left: 20px;
    background-size: cover;
    background-position: 50% 50%;
}

.box .element-4 {

    width: 231px;
    height: 373px;
    top: 378px;
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
}

.box .element-5 {

    width: 231px;
    height: 373px;
    top: 378px;
    left: 236px;
    background-color: #ffffff;
    border-radius: 5px;
}

.box .label-new {
    position: absolute;
    display: flex;
    width: 55px;
    height: 25px;
    align-items: center;
    justify-content: center;
    padding: 4px 21px;
    background-color: #008A00;
    border-radius: 2px;
    top: 20px;
    left: 20px;
}

.box .label-new-text {
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
}

.box .checked {
    color: #FFB800;
}

.box .timer-timing {
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    top: 27px;
    left: 1px;
}

.box .div-wrapper-2 {
    display: flex;
    width: 45px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 15px;
    position: relative;
    background-color: #dc323c;
    border-radius: 3px;
}

.box .timer-text {
    font-weight: 500;
    color: #515d66;
    font-size: 14px;
}

.box .label-gift {
    position: absolute;
    right: 20px;
    top: 20px;
}

.box .title {
    width: 100%;
    position: relative;
    margin-bottom: 32px;
}

.box .title::after {
    content: "";
    position: absolute;
    height: 1px;
    top: 31px;
    background-color: #e5e8ec;
    left: 0;
    right: 0;
}

.box .title-text {
    font-weight: 700;
    color: #212529;
    font-size: 16px;
}

.box .element-wrapper {
    display: flex;
    flex-direction: column;
}

.box .col-reverse {
    flex-direction: column-reverse;
}

.box .name-offer {
    font-size: 20px;
    line-height: 1.5;
}

.box .line {
    margin-top: 20px;
    width: 100%;
    position: relative;
    height: 5px;
    background-color: #F3F4F6;
}

.box .line::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    background-color: #EF262C;
}

@media only screen and (max-width: 1536px) and (min-width: 1280px) {
    .box .products {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .box .products .products-grid {
        grid-template-columns: 1fr 1fr;
    }

    .box .element {
        padding: 0
    }

    /* .box .element-wrapper {
        flex-direction: row;
    } */

    .box .flex-1 {
        flex: 1
    }
}

@media only screen and (max-width: 1280px) and (min-width: 640px) {
    .box .products {
        grid-template-columns: 1fr;
    }

    .box .element-wrapper {
        flex-direction: row;
    }

    .box .flex-1 {
        flex: 1
    }
}

@media only screen and (max-width : 639px) {
    .box .products {
        grid-template-columns: 1fr;
    }

    .box .products .products-grid {
        grid-template-columns: 1fr;
    }

    .box .element-offer {
        padding: 0
    }
}