/* main */
.main__container {
    background-color: #F1F5F6;
}

.main__navbar {
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 60%;
}

.main__navbar select {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.main__section--product {
    padding-bottom: 2rem;
}

.main__section--product del {
    font-size: small;
    color: rgb(119, 119, 119);
}