body {
    /* background-color: rgb(214, 214, 214); */
    font-family: "Bai Jamjuree";
}

header,
main,
footer {
    padding-right: 2rem;
    padding-left: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

/* a:link,
:active {
    color: black;
} */

ul {
    list-style-type: none;
}

select,
option {
    background-color: transparent;
}

input {
    border: 0px;
    padding: 5px;
}

input:focus,
select:focus {
    outline: none;
}

button {
    /* width: 50%; */
    color: white;
    /* font-size: 0.2em; */
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.6rem;
    border-radius: 1.875rem;
    background: var(--Key, #2B38D1);
}

@media (max-width: 700px) {

    header,
    main,
    footer {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        width: 100%;
    }

    button {
        padding: 0.4rem;
    }

    .flex-contaniner {
        flex-wrap: wrap;
    }
}